body {
    padding: 10px;
    margin: auto;
    background-color: rgb(206, 128, 255);
    Width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

div {
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


#prompt {
    padding: 0px;
    margin: 0px;
    font-size: 5vh;
    color: rgb(62, 7, 121);
}

#description {
    padding: 0px 10px;
    margin: 5px;
    height: 10vh;
    font-size: 3vh;
    text-align: center;
    justify-content: center;
}

h1 {
    font-size: 8vh;
    Width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    font-size: 3vh;
    Width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.light {
    width: 90%;
    padding: 3vh 0vh;
    margin: 1vh 0vh;
    background-color: rgb(209, 183, 225);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

button {
    width: 100px;
    justify-content: center;
    margin: 0 auto;
}